*{
    padding: 0;
    margin: 0;
    outline: none;
    overflow-x: none;
}
body{
    max-width: 300px;
    margin: auto;
}
.bottom{
    display: flex;
}
.color{
    width: 150px;
    height: 150px;
    transition: transform 300ms;
}
.color:hover{
    transform: scale(0.9);
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

.top{
    margin-top: 1rem;
    width: 300px;
    height: 200px;
    display: grid;
    text-align: center;
}
.colorText{
    font: 3rem sans-serif; 
    display: none;
}
.color1{
    
}
.color2{
    
}
#correct{
    position: relative;
    top:0;
    left:0;
}
#incorrect{
    position: relative;
    top:0;
    right: 0;
}
#time{
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 300px;
    font: 3rem sans-serif; 
}